*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    
}
body::-webkit-scrollbar {
    display: none; 
}
.cta{
    width: 150px;
    height: 50px;
    border: 1.5px solid rgb(255, 98, 0);
    border-radius: 24px ;
    background-color: transparent;
    color: white;
    font-family:'Montserrat', sans-serif ;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
    
}
.cta:hover{
    background-color: rgb(255, 98, 0);
    color: white;
}

.landing{
    height: 100vh;
    width: 100%;
    background-image: url('Frame 49.png');
    background-size: cover; 
    background-position: center;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.landing::after{
    content: "";
    height: 100vh;
    width: 100%;
    background-image: url('27soCpyF4LhpsZeBNkM40-transformed 1.png');
    background-size: cover; 
    background-position: center;
    position: absolute; 
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.logo{
    font-family: 'Krona One', sans-serif;
    font-size: 16px;
    color: white;
}


nav{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}
.centre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.centre a{
    display: flex;
    padding: 0 20px;
    text-decoration: none;
    color: white;
    border: none;
}
.centre a:hover{
    font-weight: 400;
}
.right{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}
.right a {
    
    display: flex;  
    text-decoration: none;
    color: white;
    padding-left:20px;
}
.right .search{
    color: rgb(124, 123, 123);
    font-size: 20px;
    
}
.right .search:hover{
    color: white;
}
.right a:hover{
    font-weight: 400;
}
.right .dropdown{
    position: relative;
    display: none;
}
.dropdown .dropbtn{
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding-left:20px;
    cursor: pointer;
}
.dropdown .dropdown-content{
    display: none;
    position: absolute;
    top: 30px;
    right:3px;
    background-color: #1b1a1a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}
.dropdown-content a{
    padding: 15px;
}
.dropdown:focus-within .dropdown-content{
    display: block;
}

.resonate{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    padding: 0; 
}
.resonate .text{
    font-family: 'Michroma', sans-serif;
    color: rgb(217, 217, 217);
    font-size: 10vw;
    font-weight: 900;
    z-index: 0;
        
}
.resonate .text2{
    color: white;
    max-width: 500px;
    padding: 10px 40px;
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    z-index: 1;
    
}
.resonate .cta{
    transform: translate(40px,10px);
    z-index: 1;
   
}
.landing .social{
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    padding: 0 40px;
    z-index: 1;
}
.social .link{
    bottom: 0;
    height: auto;
    width: auto;
    background-color: transparent;
    color: rgb(124, 123, 123);
    z-index: 1;
    font-size: 20px;
    padding-right: 20px;
}
.social .link:hover{
    color: rgb(204, 202, 202);
}
.social .follow{
    color: rgb(124, 123, 123);
    z-index: 1;
    font-size: 16px;
    padding-right: 20px;
}



.elevate{
    width: 100%;
    max-height: 80vh;
    background-color: #15151585;
    

}
.elevate .header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    font-size: 50px;
    text-align: center;
    padding: 150px 40px;
    line-height: 80px;
    background: linear-gradient(to right, #e3e3e3, #1b1a1a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.best{
    margin-top: 100px;
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.best .carousel{
    width: 100%;
    height: auto;
    padding: 40px 0;
}

.best .products{
    
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type:x mandatory;
    scrollbar-width: none;
    
}

.products .card{
    scroll-snap-align: start;
    min-width: 260px;    
    min-height: 310px;
    display: flex;
    flex-direction: column;
    background-color: rgba(108, 108, 108, 0.2);
    padding: 15px 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient(to top,  rgba(108, 108, 108, 0.2),  rgba(12, 12, 12, 0.2));
    backdrop-filter: blur(50px);
    box-shadow: 10px 18px 32px rgba(0, 0, 0, 0);
    
}
.products .card:hover{
    background-color: rgba(84, 83, 83, 0.2);
}
.card .img{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    

}
.card .img .image{
    width: 100%;
    height: 100%;
    
}

.card .like{
    display: flex;  
    transform: translate(10px,-30px);
}
.like .heart{
    color: lightgray;
    font-size: 20px;
}
.card .halfcard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cost .name{
    font-weight: 550;
    font-size: 18px;
    
}
.card .cost{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    padding-right: 10px;
}
.cost .price{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.price .ruppee{
    display: flex;
    font-size: 14px;
    color: rgb(199, 197, 197); 
}
.price .num{
    font-weight: 200;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.card .see{
    width: 100px;
    height: 45px;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 24px ;
    background-color: transparent;
    color: white;
    font-family:'Montserrat', sans-serif ;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card .see:hover{
    background-color:rgb(255, 255, 255) ;
    color: rgb(0, 0, 0)
}


.promotion{
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 140px;

}
.promotion .first{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.promotion .second{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first .one{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    background-image: url('onur-binay-G8tRf8m7Bss-unsplash.jpg');
    background-size: cover;
    background-position: center;
} 

.offer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: rgb(255, 255, 255);
    max-width: 480px;
    height: fit-content;
    padding: 0 50px;
    transform: translate(0,160px);

}
.offer .model{
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 2px;
}
.offer .model-ft{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
}
.offer .price{
    font-size: 14px;
    font-weight: 800;
    text-decoration: line-through;
    color: rgb(152, 151, 151);
}
.offer .discount-price{
    font-size: 18px;
    font-weight: 800;
    color: rgb(255, 89, 0);
}
.first .two{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('Frame 58.png');
    background-size: cover;
    background-position: center;
    background-color: rgb(57, 154, 239);
}

.second .three{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: aliceblue;
    background-image: url('Frame 57.png');
    background-size: cover;
    background-position: center;
}
.second .four{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('olena-bohovyk-yvpEi82jzaY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgb(57, 154, 239);
    
} 



.text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 560px;
    height: fit-content;
    margin: 20px;
    color: white;
}

.text-box .speaker{
    font-size: 5vw;
    font-weight: 900;
    line-height: 80%;
    padding-bottom: 20px;
}
.text-box .speaker-ft{
    font-size: 16px;
    padding-bottom: 40px;
    font-weight: 500;
}
.text-box .cta{
    backdrop-filter: blur(20px);
}


.category{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    margin-top: 160px ;

}

.category .carousal2{
    width: 100%;
    height: 400px;
    
}
.carousal2 .slider{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 2.5rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type:x mandatory;
    scrollbar-width: none;
}
.slider .slide{
    position: relative;
    scroll-snap-align: start;
    min-width: 300px;    
    min-height: 350px;
    display: flex;
    background-color: rgba(108, 108, 108, 0.2);
    font-family: 'Montserrat', sans-serif;
    color: white; 
}
.slide .option{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 200px;
    padding: 10px;
}
.option .opt-des{
    font-size: 14px;
    font-weight: 200;

}
.option .opt-text{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 8px;
}
.slide1{
    background-image: url('saif71-com-KcbD8QoBGIk-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.slide2{
    background-image: url('frank-septillion-Qrspubmx6kE-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.slide3{
    background-image: url('nicolas-lafargue-Fj7l30GcAEQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.slide4{
    background-image: url('mateo-abrahan-_icC-RYrAFA-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.slide5{
    background-image: url('kiran-ck-7KMhZqylgss-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.slide6{
    background-image: url('sandy-kawadkar-i-FJ4obOoyM-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.slide7{
    background-image: url('priyanshu-kumar-gBzaLpS5QZw-unsplash.jpg');
    background-size: cover;
    background-position: center;
}


.About{
    width: 100%;
    height: 80vh;
    padding: 0 40px;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.About .firstbox{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    height: 100%;
}
.firstbox .aboutheader{
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    font-family: 'Michroma';
}
.firstbox .abouttext{
    color: rgb(255, 255, 255);
    font-weight: 200;
    line-height: 1.7rem;
    padding: 5% 0;
}

.About .secondbox{
    background-image: url('mudit-jain-zyfyYtNNTzc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 80%;
    background-color: aliceblue;
}


.subscribe{
    width: 100%;
    height: 55vh;
    background-image: url('scott-major-ZP2iqHtUtyc-unsplash.jpg');
    background-position: top;
    background-size: cover;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.subscribe .subheader{
    
    font-size: 13vw;
    font-weight: 900;
    margin-top: -5%;
}
.subscribe .input{
    margin: 80px;
    gap: 1rem;
    width: 50%;
    height: 12%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 28px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0);
}
.input .inputtext{
    padding: 12px;
    width: 80%;
    border: none;
    border-radius: 28px;
}
.input .send{
    width: 100px;
    height: 42px;
    border: none;
    border-radius: 24px ;
    background-color: black;
    color: white;
    font-family:'Montserrat', sans-serif ;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 1;
}
.input .send:hover{
    background-color: rgb(255, 98, 0);
    color: white;
}


.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    color: white;
}
.footer .left{
    gap: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 200;
}
.footer .right{
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-between;
    width: 50%;
    
}
.right .box{
    display: flex;
    flex-direction: column;
    
}
.box .boxhead{
    font-weight: 600;
    font-size: 16px;
    padding: 20px 0;
}
.box .righttext{
    display:flex;
    flex-direction:column;
    font-weight: 200;
    font-size: 14px;
}




@media(max-width: 768px){
    .navbar .centre{
        display: none;
    }
    .right .dropdown{
        display: block;
    }
    .resonate{
        align-items: center;
        justify-content: center;
    }
    
    .resonate .text2{
        font-size: 14px;
        text-align: center;
    }
    .resonate .cta{
        transform: translate(0,10px);
        z-index: 1;
       
    }
    .elevate .header{
        font-size: 30px;
        padding: 100px 40px;
        line-height: 60px;
    }
    .best{
        padding: 0;
    }
    .promotion{
        height: 105vh;
    }
    .text-box{
        min-width: 230px; 
    }
    .text-box .speaker-ft{
        font-size: 14px;
        font-weight: 400;
    }
    .offer{
        min-width: 220px;
        padding: 0 20px;
        transform: translate(0,135px);
    }
    .offer .model{
        font-size: 16px;
    }
    .offer .model-ft{
        font-size: 12px;
        font-weight: 300;
    }
    .offer .price{
        font-size: 12px;
    }
    .offer .discount-price{
        font-size: 14px;
    }
    
    .category{
        padding: 0;
        margin-top: 140px ;
    
    }

    .About{
        width: 100%;
        height: 120vh;
        margin-top: 90px;
        flex-direction: column;
        align-items: center;
    }
    .About .firstbox{
        align-items: center;
        width: 100%;
        padding-top: 20px;
    }
    .firstbox .aboutheader{
        text-align: center;
    }
    .firstbox .abouttext{
        text-align: center;
    }
    
    .About .secondbox{
        width: 100%;
        height: 100%;
    }

    .subscribe .input{
        margin: 120px;
        width: 60%;  
    }
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
       
    }
    .footer .left{
        width: 100%;
        font-size: 12px;
        font-weight: 100;
    }
    .footer .right{
        width: 100%;
    }
    
    .box .boxhead{
        font-weight: 400;
        font-size: 11px;
        
    }
    .box .righttext{
        display:none;
    }
    
    
    
    
    
}
